.App {
  text-align: left;
}

.App-logo {
  width: 20px;
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  margin-left: 15px;
}

.App-header {
  background-color: #222;
  height: 65px;
  width: auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: flex;
}
.App-header h1 {
  margin-left: 500px;
  padding-bottom: 10px;
}
.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}
td {
  padding-left: 10px;
}
.results {
  padding-top: 15px;
  text-align: center;
}
.orders {
  list-style-type: none;
  display: inline-flex;
}
.orders li {
  margin-top: 10px;
  padding-left: 10px;
}
.footer {
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}
.footer li {
  padding-left: 6px;
}
.card {
  width: 18rem;
  margin-left: 10px;
}
.card img {
  height: 12rem;
}
